{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'create_task/css/create_task.css' %}" media="screen">
{% endblock %}

{% block content %}
    <div class="u-container-layout u-container-layout-2">


        <div class="u-expanded-width u-form u-form-1">
            <h3 class="u-custom-font u-font-georgia u-text u-text-custom-color-1 u-text-default u-text-4">Домашняя
                работа</h3>
            <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Домашняя работа успешно
                отправлена!</h5>
        </div>


    </div>
{% endblock %}