.u-section-1 .u-sheet-1 {
    min-height: 618px;
}

.u-section-1 .u-text-1 {
    margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
    height: 381px;
    width: 570px;
    margin: 31px auto 60px;
}

.u-section-1 .u-form-group-2 {
    margin-left: 0;
}

.u-section-1 .u-form-group-3 {
    margin-left: 0;
}

.u-section-1 .u-form-group-4 {
    margin-left: 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    border-style: solid;
    font-weight: 700;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 521px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 560px;
    }

    .u-section-1 .u-form-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-form-1 {
        width: 340px;
    }
}