{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'sentence/css/sentence_result.css' %}" media="screen">
{% endblock %}

{% block content%}


<div id="main-container" class="u-container-style u-layout-cell u-size-45 u-layout-cell-3">

              <div class="u-container-layout u-container-layout-3">
                  <h3 class="u-custom-font u-font-georgia u-text u-text-custom-color-1 u-text-default u-text-4">Редактирование предложения</h3>
              {% if not unathorized %}

              <br>

                  <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Нажмите на квадратик над словом, от которого вы ходите задать вопрос.</h5>
                  <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Далее нажмите на квадратик над словом, к которому вы хотите задать вопрос</h5>
                  <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Напишите в поле "Введите вопрос" вопрос от первого слова ко второму. Нажмите на кнопку "Добавить связь"</h5>
              <br>
              <div style="margin-left: 10px">
              <form id="form-relation" method="post">
              {% csrf_token %}
              {{ formset.management_form }}
              {% for form, token in list_forms %}

                  <label class="u-custom-font u-font-georgia u-text u-text-9">
                      <input type="checkbox" class="form-check-input" name="checkbox_{{ forloop.counter }}" value="{{ forloop.counter }}">
                      <a name="counter_{{ forloop.counter }}"></a>
                      <br>
                      <a style="font-size: small">{{ token.pos }} ✏️</a>
                          <br>
                      <a name="token">{{ token.text }}</a>
                      <br>
                      {{ form.type }}
                  </label>

                {% endfor %}
              <br>
              <br>
              <label  class="u-custom-font u-font-georgia u-text input-group mb-3" style="width: 50%;">
              {{ question_form.question }}

                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">Добавить связь</button>
              </label>
              <label  id="form-error" class="u-custom-font u-font-georgia u-text text-danger"></label>
                  {{ question_form.datalist|safe }}
                  {{ question_form.selected }}
                  {{ question_form.tokens }}
                  {{ question_form.width }}

              </form>
              {% for render in rendered %}
                  <img src="{{ render }}" alt="">
                  <form name="form-remove" method="post" action="{% url 'remove_relation' sent_id %}">
                  {% csrf_token %}
                      {{ form_remove.id_remove }}
                  <button type="submit" class="btn btn-danger u-align-center u-custom-font u-font-georgia ">Удалить</button>
                  </form>
                  <br>

              {% endfor %}

              <form id="form-send" method="post" action="{% url 'save_sentence' sent_id %}">
                  {% csrf_token %}
                  {{ send_form.lines }}
                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">Опубликовать</button>
              </form>
              <a href="{% url 'sentence' sent_id %}">
                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">Вернуться назад</button>
              </a>



              </div>
              {% else %}
                  <br>
                   <h3 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Для редактирования предложения необходимо авторизоваться</h3>
              {% endif %}


              </div>

</div>


    <script src="{% static 'sentence/js/form.js' %}"></script>

{% endblock %}
