{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'sentence/css/sentence_result.css' %}" media="screen">
{% endblock %}

{% block content%}


<div id="main-container" class="u-container-style u-layout-cell u-size-45 u-layout-cell-3">

              <div class="u-container-layout u-container-layout-3">
                  <h3 class="u-custom-font u-font-georgia u-text u-text-custom-color-1 u-text-default u-text-4">Редактирование предложения</h3>
                  {% if request.user.is_authenticated %}

              <br>

                  <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Нажмите на квадратик над словом, от которого вы ходите задать вопрос.</h5>
                  <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Далее нажмите на квадратик над словом, к которому вы хотите задать вопрос</h5>
                  <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Напишите в поле "Введите вопрос" вопрос от первого слова ко второму. Нажмите на кнопку "Добавить связь"</h5>
              <br>
              <div style="margin-left: 10px">
              <form id="form-relation" method="post">
              {% csrf_token %}
              {{ formset.management_form }}
                  <a style="font-size: xx-large" href="{% url 'add_token' sent_id 0 %}">➕</a>
              {% for form, token in list_forms %}
                  <p style="display: inline-block;" class="u-custom-font u-font-georgia u-text u-text-9">

                      <input type="checkbox" class="form-check-input" name="checkbox_question"
                             id="checkbox_{{ forloop.counter }}" value="{{ forloop.counter }}">

                      <a name="counter_{{ forloop.counter }}"></a>
                      <br>
                      <a id="edit_type_{{ forloop.counter }}_txt" style="font-size: small">{{ token.type }}</a>
                      <a name="edit_type" id="edit_type_{{ forloop.counter }}">✏️</a>

                      <br id="edit_type_{{ forloop.counter }}_br" hidden="hidden">

                      <input id="edit_type_{{ forloop.counter }}_input" type="hidden">
                      <button type="button" name="confirm_edit"
                              value="{% url 'edit_type' sent_id  forloop.counter0 %}?value="
                              id="edit_type_{{ forloop.counter }}_btn" class="btn btn-primary" hidden="hidden">Сохранить
                      </button>

                      <br>
                      <a id="edit_pos_{{ forloop.counter }}_txt" style="font-size: small">{{ token.pos }}</a>
                      <a name="edit_pos" id="edit_pos_{{ forloop.counter }}">✏️</a>
                      <br id="edit_pos_{{ forloop.counter }}_br" hidden="hidden">
                      <input id="edit_pos_{{ forloop.counter }}_input" type="hidden">
                      <button type="button" name="confirm_edit"
                              value="{% url 'edit_pos' sent_id  forloop.counter0 %}?value="
                              id="edit_pos_{{ forloop.counter }}_btn" class="btn btn-primary" hidden="hidden">Сохранить
                      </button>

                      <br>
                      <a id="edit_token_{{ forloop.counter }}_txt" name="token">{{ token.text }}</a>
                      <a name="edit_token" id="edit_token_{{ forloop.counter }}">✏️</a>
                      <a href="{% url 'remove_token' sent_id forloop.counter0 %}">❌</a>
                      <br>

                      <input id="edit_token_{{ forloop.counter }}_input" type="hidden" >
                      <button type="button" name="confirm_edit"
                              value="{% url 'edit_token' sent_id  forloop.counter0 %}?value="
                              id="edit_token_{{ forloop.counter }}_btn" class="btn btn-primary" hidden="hidden">
                          Сохранить
                      </button>


                      {{ form.type }}
                      <button id="form-{{ forloop.counter0 }}-type-btn"
                              value="{% url 'edit_line' sent_id  forloop.counter0 %}?value=" hidden="hidden"></button>
                  </p>
                  <a style="font-size: xx-large; padding-bottom: 50%"
                     href="{% url 'add_token' sent_id forloop.counter %}">➕</a>

                {% endfor %}
              <br>
              <br>
              <label  class="u-custom-font u-font-georgia u-text input-group mb-3" style="width: 50%;">
              {{ question_form.question }}

                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">Добавить связь</button>
              </label>
              <label  id="form-error" class="u-custom-font u-font-georgia u-text text-danger"></label>
                  {{ question_form.datalist|safe }}
                  {{ question_form.selected }}
                  {{ question_form.tokens }}

              </form>
              {% for question in questions_txt %}
                  <p>{{ question }}</p>
                  <form name="form-remove" method="post" action="{% url 'remove_relation' sent_id %}">
                  {% csrf_token %}
                      {{ form_remove.id_remove }}
                  <button type="submit" class="btn btn-danger u-align-center u-custom-font u-font-georgia ">Удалить</button>
                  </form>
                  <br>

              {% endfor %}
                  <a href="{% url 'change_parts' sent_id %}"
                     class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">К
                      разбивке на части
                  </a>
              {% if back == "" %}
              <a href="{% url 'sentence' sent_id %}">
                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">Вернуться назад</button>
              </a>
                  {% else %}
                  <a href="{% url 'view_request' %}?from={{ back }}">
                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">Вернуться назад</button>
              </a>
                  {% endif %}



              </div>
              {% else %}
                  <br>
                   <h3 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Для редактирования предложения необходимо авторизоваться</h3>
              {% endif %}


              </div>

</div>


    <script src="{% static 'sentence/js/change_sentence_tokens.js' %}"></script>

{% endblock %}
