{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'sentence/css/sentence_result.css' %}" media="screen">
{% endblock %}

{% block content %}

    <section class="u-clearfix u-section-2" id="sec-2982">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h5 class="u-text u-text-default u-text-1">{{ ad_left }}</h5>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
            <h3 class="u-custom-font u-font-georgia u-text u-text-custom-color-1 u-text-default u-text-4">Редактирование
                предложения. Разбивка сложного предложения на простые</h3>
            {% if request.user.is_authenticated %}

                <br>

                <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Нажмите на квадратик над словом,
                    где начинается часть предложения</h5>
                <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Далее нажмите на квадратик над
                    словом, где заканчивается часть предложение</h5>
                <h5 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Если предложение простое,
                    выделите первое и последнее слово. Нажмите на кнопку "Добавить часть"</h5>
                <br>
                <div style="margin-left: 10px">

                    {% for  token in tokens %}
                        <p style="display: inline-block;" class="u-custom-font u-font-georgia u-text u-text-9">
                            <input type="checkbox" class="form-check-input" name="checkbox_question"
                                   id="checkbox_{{ forloop.counter }}" value="{{ forloop.counter }}">
                            <a style="font-size: xx-large" id="counter_{{ forloop.counter }}"></a>
                        </p>
                        <p style="display: inline-block;" class="u-custom-font u-font-georgia u-text u-text-9">


                            <a style="font-size: x-small">{{ token.type }}</a>
                            <br>
                            <a style="font-size: x-small">{{ token.pos }}</a>
                            <br>
                            <a style="color: #0f0f0f; font-size: larger" class="{{ token.line }}">{{ token.text }}</a>
                        </p>


                    {% endfor %}
                    <br>
                    <form id="form-relation" method="post" action="{% url 'add_part' sent_id %}">
                        {% csrf_token %}

                        <div hidden="hidden">
                            <p id="start-symbol">[</p>
                            <p id="end-symbol">]</p>
                        </div>

                        {{ part_form.selected }}
                        <label class="u-custom-font u-font-georgia u-text input-group mb-3" style="width: 400px;">
                            {{ part_form.type }}
                            <button type="submit"
                                    class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">
                                Добавить часть
                            </button>
                        </label>

                        <label id="form-error" class="u-custom-font u-font-georgia u-text text-danger"></label>
                    </form>

                    <h6 class="u-custom-font u-font-georgia u-text u-text-9">Характеристика предложения:</h6>
                    <div class="u-custom-font u-font-georgia u-text u-text-9" style="display: flex;">
                        <div style="flex: 1;">
                            <h6>I.</h6>
                            <ol>
                                <li>{{ part_form.type_goal }}</li>
                                <li>{{ part_form.type_intonation }}</li>
                            </ol>
                        </div>
                        <div style="flex: 1;">
                            <h6>II.</h6>
                            <ol>
                                <li>{{ part_form.gram_bases }}</li>
                                <li name="simple_clas">{{ part_form.main_members }}</li>
                                <li name="simple_clas">{{ part_form.second_members }}</li>
                                <li name="simple_clas">{{ part_form.difficulty_members }}</li>
                                <li name="simple_clas">{{ part_form.lost_members }}</li>
                                <li>Схема:
                                    {% for form, tok_idx, tok in schema %}
                                        {% if tok_idx.0 == "Сочинительная часть" %}
                                            {% if tok_idx.1 == "start" %}
                                                [
                                            {% else %}
                                                ]
                                            {% endif %}
                                        {% elif tok_idx.0 == "Подчинительная часть" %}
                                            {% if tok_idx.1 == "start" %}
                                                (
                                            {% else %}
                                                )
                                            {% endif %}
                                        {% endif %}
                                        <p>
                                            {{ tok.text }}
                                            {{ form.type_line }}
                                        </p>
                                        <p hidden="hidden">
                                            <a id="id_form-{{ forloop.counter0 }}-type_line-href"
                                               href="{% url 'change_elem' sent_id  forloop.counter0  'change_line' %}"
                                               hidden="hidden"></a>
                                        </p>

                                    {% endfor %}


                                </li>
                            </ol>
                        </div>
                        <p hidden>
                            <a id="gram_bases-href" href="{% url 'change_elem' sent_id  0  'gram_bases' %}"
                               hidden="hidden"></a>
                            <a id="id_main_members-href" href="{% url 'change_elem' sent_id  0  'main_members' %}"
                               hidden="hidden"></a>
                            <a id="id_second_members-href" href="{% url 'change_elem' sent_id  0  'second_members' %}"
                               hidden="hidden"></a>
                            <a id="id_difficulty_members-href"
                               href="{% url 'change_elem' sent_id  0  'difficulty_members' %}" hidden="hidden"></a>
                            <a id="id_lost_members-href" href="{% url 'change_elem' sent_id  0  'lost_members' %}"
                               hidden="hidden"></a>
                            <a id="type_goal-href" href="{% url 'change_elem' sent_id  0  'type_goal' %}"
                               hidden="hidden"></a>
                            <a id="type_intonation-href" href="{% url 'change_elem' sent_id  0  'type_intonation' %}"
                               hidden="hidden"></a>
                        </p>
                    </div>
                    {% if part_form.gram_bases.value == "Сложное" %}
                        {% for form, part_result in parts %}

                            <p class="u-custom-font u-font-georgia u-text u-text-9">
                                <b>Часть предложения:</b> <br>
                                {% if part_result.type_part == "Сочинительная часть" %}
                                    <a style="font-size: xx-large">[</a>
                                {% else %}
                                    <a style="font-size: xx-large">(</a>
                                {% endif %}
                                {% for token in part_result.tokens %}
                                    <label class="u-custom-font u-font-georgia u-text u-text-9"
                                           style="text-align: center">
                                        <a class="{{ token.line }}">{{ token.text }}</a>
                                    </label>
                                {% endfor %}
                                {% if part_result.type_part == "Сочинительная часть" %}
                                    <a style="font-size: xx-large">]</a>
                                {% else %}
                                    <a style="font-size: xx-large">)</a>
                                {% endif %}
                                -
                                ({{ form.main_members }}; {{ form.second_members }}; {{ form.lost_members }}; {{ form.difficulty_members }})
                            <p hidden>
                                <a id="id_form-{{ forloop.counter0 }}-main_members-href"
                                   href="{% url 'change_elem' sent_id  forloop.counter0  'main_members' %}"
                                   hidden="hidden"></a>
                                <a id="id_form-{{ forloop.counter0 }}-second_members-href"
                                   href="{% url 'change_elem' sent_id  forloop.counter0  'second_members' %}"
                                   hidden="hidden"></a>
                                <a id="id_form-{{ forloop.counter0 }}-lost_members-href"
                                   href="{% url 'change_elem' sent_id  forloop.counter0  'lost_members' %}"
                                   hidden="hidden"></a>
                                <a id="id_form-{{ forloop.counter0 }}-difficulty_members-href"
                                   href="{% url 'change_elem' sent_id  forloop.counter0  'difficulty_members' %}"
                                   hidden="hidden"></a>
                            </p>

                            <br><br>
                            <a href="{% url 'remove_part' sent_id  forloop.counter0 %}" type="submit"
                               class="btn btn-danger u-align-center u-custom-font u-font-georgia ">Удалить</a>

                            </p>

                        {% endfor %}
                    {% endif %}


                    <a href="{% url 'save_sentence' sent_id %}">
                        <button type="submit"
                                class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">
                            {% if task %}Сохранить{% else %}Опубликовать{% endif %}
                        </button>
                    </a>
                    {% if back == "" %}
                        <a href="{% url 'change_sentence' sent_id %}">
                            <button type="submit"
                                    class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">
                                Вернуться назад
                            </button>
                        </a>
                    {% else %}
                        <a href="{% url 'change_sentence' sent_id %}?from={{ back }}">
                            <button type="submit"
                                    class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">
                                Вернуться назад
                            </button>
                        </a>
                    {% endif %}


                </div>
            {% else %}
                <br>
                <h3 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Для редактирования предложения
                    необходимо авторизоваться</h3>
            {% endif %}

                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-3">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                            <h5 class="u-text u-text-default u-text-2">{{ ad_right }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static 'sentence/js/change_sentence_parts.js' %}"></script>

{% endblock %}
