{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'sentence/css/sentence_result.css' %}" media="screen">
{% endblock %}

{% block content%}
    <section class="u-clearfix u-section-2" id="sec-2982">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h5 class="u-text u-text-default u-text-1">{{ ad_left }}</h5>
                        </div>
                    </div>
    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
        <div class="u-container-layout u-container-layout-2">
            <h4 class="u-align-center u-text u-text-default u-text-2">Редактирование предложения </h4>
            <p class="u-align-left u-text u-text-default u-text-3"> Нажмите на квадратик над словом, от которого вы
                ходите задать вопрос.Далее нажмите на квадратик над словом, к которому вы хотите задать вопросНапишите в
                поле "Введите вопрос" вопрос от первого слова ко второму. Нажмите на кнопку "Добавить связь"</p>

    {% if request.user.is_authenticated %}


              <div style="margin-left: 10px">
              <form id="form-relation" method="post">
              {% csrf_token %}
              {{ formset.management_form }}
                  <a style="font-size: xx-large" href="{% url 'add_token' sent_id 0 %}">➕</a>
              {% for form, token in list_forms %}
                  <p style="display: inline-block;" class="u-custom-font u-font-georgia u-text u-text-9">

                      <input type="checkbox" class="form-check-input" name="checkbox_question"
                             id="checkbox_{{ forloop.counter }}" value="{{ forloop.counter }}">

                      <a name="counter_{{ forloop.counter }}"></a>
                      <br>
                      <a id="edit_type_{{ forloop.counter }}_txt" style="font-size: small">{{ token.type }}</a>
                      <a name="edit_type" id="edit_type_{{ forloop.counter }}">✏️</a>

                      <br id="edit_type_{{ forloop.counter }}_br" hidden="hidden">

                      <input id="edit_type_{{ forloop.counter }}_input" type="hidden">
                      <button type="button" name="confirm_edit"
                              value="{% url 'edit_type' sent_id  forloop.counter0 %}?value="
                              id="edit_type_{{ forloop.counter }}_btn" class="btn btn-primary" hidden="hidden">Сохранить
                      </button>

                      <br>
                      <a id="edit_pos_{{ forloop.counter }}_txt" style="font-size: small">{{ token.pos }}</a>
                      <a name="edit_pos" id="edit_pos_{{ forloop.counter }}">✏️</a>
                      <br id="edit_pos_{{ forloop.counter }}_br" hidden="hidden">
                      <input id="edit_pos_{{ forloop.counter }}_input" type="hidden">
                      <button type="button" name="confirm_edit"
                              value="{% url 'edit_pos' sent_id  forloop.counter0 %}?value="
                              id="edit_pos_{{ forloop.counter }}_btn" class="btn btn-primary" hidden="hidden">Сохранить
                      </button>

                      <br>
                      <a id="edit_token_{{ forloop.counter }}_txt" name="token">{{ token.text }}</a>
                      <a name="edit_token" id="edit_token_{{ forloop.counter }}">✏️</a>
                      <a href="{% url 'remove_token' sent_id forloop.counter0 %}">❌</a>
                      <br>

                      <input id="edit_token_{{ forloop.counter }}_input" type="hidden" >
                      <button type="button" name="confirm_edit"
                              value="{% url 'edit_token' sent_id  forloop.counter0 %}?value="
                              id="edit_token_{{ forloop.counter }}_btn" class="btn btn-primary" hidden="hidden">
                          Сохранить
                      </button>


                      {{ form.type }}
                      <button id="form-{{ forloop.counter0 }}-type-btn"
                              value="{% url 'edit_line' sent_id  forloop.counter0 %}?value=" hidden="hidden"></button>
                  </p>
                  <a style="font-size: xx-large; padding-bottom: 50%"
                     href="{% url 'add_token' sent_id forloop.counter %}">➕</a>

                {% endfor %}
              <br>
              <br>
              <label  class="u-custom-font u-font-georgia u-text input-group mb-3" style="width: 50%;">
              {{ question_form.question }}

                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">Добавить связь</button>
              </label>
              <label  id="form-error" class="u-custom-font u-font-georgia u-text text-danger"></label>
                  {{ question_form.datalist|safe }}
                  {{ question_form.selected }}
                  {{ question_form.tokens }}

              </form>
              {% for question in questions_txt %}
                  <p>{{ question }}</p>
                  <form name="form-remove" method="post" action="{% url 'remove_relation' sent_id %}">
                  {% csrf_token %}
                      {{ form_remove.id_remove }}
                  <button type="submit" class="btn btn-danger u-align-center u-custom-font u-font-georgia ">Удалить</button>
                  </form>
                  <br>

              {% endfor %}
                  <a href="{% url 'change_parts' sent_id %}"
                     class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-11">К
                      разбивке на части
                  </a>
              {% if back == "" %}
              <a href="{% url 'sentence' sent_id %}">
                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">Вернуться назад</button>
              </a>
                  {% else %}
                  <a href="{% url 'view_request' %}?from={{ back }}">
                  <button type="submit" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-font-georgia u-hover-palette-1-light-1 u-radius u-btn-12">Вернуться назад</button>
              </a>
                  {% endif %}



              </div>



    {% else %}
                  <br>
                   <h3 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Для редактирования предложения необходимо авторизоваться</h3>
              {% endif %}

        </div>
    </div>
                    <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-3">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                            <h5 class="u-text u-text-default u-text-2">{{ ad_right }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'sentence/js/change_sentence_tokens.js' %}"></script>

{% endblock %}
