{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'mainPage/css/about.css' %}" media="screen">
{% endblock %}

{% block content%}
<div class="u-container-style u-layout-cell u-size-46 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-3">
                <h1 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">О сайте</h1>
                <img class="u-image u-image-default u-image-1" src="{% static 'mainPage/images/about/50056fb9.svg' %}" alt="" data-image-width="400" data-image-height="265">
                <p class="u-custom-font u-font-georgia u-text u-text-default u-text-5">Какой-то умный текст​.&nbsp;Какой-то умный текст​.Какой-то умный текст​.<br>Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.<br>
                  <br>Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.<br>
                  <br>Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.<br>Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.<br>
                  <br>
                  <br>Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный&nbsp;<br>
                  <br>
                  <br>Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный текст​.Какой-то умный&nbsp;<br>
                </p>
              </div>
            </div>
{% endblock %}