<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-1">
                      <label for="name" class="u-custom-font u-font-georgia u-label">Имя</label>
                      <input type="text" placeholder="Введите имя" id="name" name="name" class="u-custom-font u-font-georgia u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-2">
                      <label for="second_name" class="u-custom-font u-font-georgia u-label">Фамилия</label>
                      <input type="text" placeholder="Введите фамилию" id="second_name" name="second_name" class="u-custom-font u-font-georgia u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-email u-form-group u-form-group-3">
                      <label for="email" class="u-custom-font u-font-georgia u-label">Адрес электронной почты</label>
                      <input type="email" placeholder="Введите почту" id="email" name="email" class="u-custom-font u-font-georgia u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-4">
                      <label for="password" class="u-custom-font u-font-georgia u-label">Пароль</label>
                      <input type="text" placeholder="Введите пароль" id="password" name="password" class="u-custom-font u-font-georgia u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-5">
                      <label for="re-password" class="u-custom-font u-font-georgia u-label">Повторите пароль</label>
                      <input type="text" placeholder="Повторите пароль" id="re-password" name="re-password" class="u-custom-font u-font-georgia u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-input-layout-horizontal u-form-radiobutton u-form-group-6">
                      <label class="u-custom-font u-font-georgia u-label">Роль</label>
                      <div class="u-form-radio-button-wrapper">
                        <div class="u-input-row">
                          <input id="field-4570" type="radio" name="radiobutton" value="student" class="u-field-input" required="required" data-calc="student" checked="checked">
                          <label class="u-custom-font u-field-label u-font-georgia" for="field-4570">Ученик</label>
                        </div>
                        <div class="u-input-row">
                          <input id="field-d43b" type="radio" name="radiobutton" value="teacher" class="u-field-input" required="required" data-calc="teacher">
                          <label class="u-custom-font u-field-label u-font-georgia" for="field-d43b">Учитель</label>
                        </div>
                      </div>
                    </div>
</body>
</html>