{% extends "base.html" %}
{% load static %}
{% block link %}
            <link rel="stylesheet" href="{% static 'create_task/css/create_task.css' %}" media="screen">
    <script src="{% static 'create_task/js/change_elements.js' %}"></script>
        {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <section class="u-clearfix u-section-1" id="sec-1796">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h4 class="u-text u-text-default u-text-1">Задание </h4>
                <p>Чтобы добавить предложение(я), введите их в поле. Далее нажмите на кнопку "Добавить предложение".
                    Программа их разберет.</p>
                {% for sent_id, result in sentences %}
                    {% for token in result.tokens %}
                        <label class="u-custom-font u-font-georgia u-text u-text-9" style="text-align: center">
                            <a>{{ token.type }}</a>
                            <br>
                            <a>{{ token.pos }}</a>
                            <br>
                            <a style="font-size: large" class="{{ token.line }}">{{ token.text }}

                            </a>
                        </label>
                    {% endfor %}


                    <br>
                    {% if result.simple_sentences_in|length == 1 %}
                        <h5 class="u-custom-font u-font-georgia u-text u-text-9">Характеристика предложения:</h5>
                        <div class="u-custom-font u-font-georgia u-text u-text-9" style="display: flex;">
                            <div style="flex: 1;">
                                <h6>I.</h6>
                                <ol>
                                    <li>{{ result.type_goal }}</li>
                                    <li>{{ result.type_intonation }}</li>
                                </ol>
                            </div>
                            <div style="flex: 1;">
                                <h6>II.</h6>
                                <ol>
                                    <li>{{ result.gram_bases }}</li>
                                    <li>{{ result.simple_sentences_in.0.main_members }}</li>
                                    <li>{{ result.simple_sentences_in.0.second_members }}</li>
                                    <li>{{ result.simple_sentences_in.0.difficulty_members }}</li>
                                    <li>{{ result.simple_sentences_in.0.lost_members }}</li>
                                    <li>Схема: {% for token in result.schema %}
                                        {% if token.0 == "word" %}
                                            {{ token.1 }}
                                        {% elif token.0 != "none" %}
                                            <a class="{{ token.0 }}" style="color: transparent">_____</a>
                                        {% endif %}
                                    {% endfor %}
                                    </li>
                                    {% if result.question_list %}
                                        <li>Словосочетания:</li>
                                        <ul>
                                            {% for q in result.question_list %}
                                                <li>{{ q }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </ol>
                            </div>
                        </div>
                    {% else %}
                        <h6 class="u-custom-font u-font-georgia u-text u-text-9">Характеристика предложения:</h6>
                        <div class="u-custom-font u-font-georgia u-text u-text-9" style="display: flex;">
                            <div style="flex: 1;">
                                <h6>I.</h6>
                                <ol>
                                    <li>{{ result.type_goal }}</li>
                                    <li>{{ result.type_intonation }}</li>
                                </ol>
                            </div>
                            <div style="flex: 1;">
                                <h6>II.</h6>
                                <ol>
                                    <li>{{ result.gram_bases }}</li>
                                    <li>Схема:
                                        {% for token in result.schema %}
                                            {% if token.0 == "word" %}
                                                {{ token.1 }}
                                            {% elif token.0 != "none" %}
                                                <a class="{{ token.0 }}" style="color: transparent">_____</a>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                    {% if result.question_list %}
                                        <li>Словосочетания:</li>
                                        <ul>
                                            {% for q in result.question_list %}
                                                <li>{{ q }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </ol>

                            </div>
                        </div>
                        {% for part_result in result.simple_sentences_in %}

                            <label class="u-custom-font u-font-georgia u-text u-text-9">
                                <b>Часть предложения:</b> <br>
                                {% for token in part_result.tokens %}
                                    <label class="u-custom-font u-font-georgia u-text u-text-9"
                                           style="text-align: center">
                                        <a style="font-size: x-small">{{ token.pos }}</a>
                                        <br>
                                        <a class="{{ token.line }}">{{ token.text }}</a>
                                    </label>
                                {% endfor %} -
                                ({{ part_result.main_members }}; {{ part_result.second_members }}; {{ part_result.lost_members }}; {{ part_result.difficulty_members }})

                            </label>
                            <br><br>


                        {% endfor %}
                    {% endif %}
                    <div style="display: flex">
                        <p style="flex: 1">

                            <a href="{% url 'change_sentence' sent_id %}"
                               class="u-active-black u-border-2 u-border-grey-75 u-border-hover-white u-btn u-btn-submit u-button-style u-hover-black u-text-hover-white u-white u-btn-1">
                                    Изменить
                            </a>

                        </p>
                        <p style="flex: 2;">

                            <a href="{% url 'remove_sentence' sent_id %}"
                               class="u-active-black u-border-2 u-border-grey-75 u-border-hover-white u-btn u-btn-submit u-button-style u-hover-black u-text-hover-white u-white u-btn-1">
                                    Удалить
                            </a>

                        </p>
                    </div>

                {% endfor %}
                <div class="u-align-center u-form u-form-1">
                    <form method="post" name="form" style="padding: 10px;">
                    {% csrf_token %}
                    {{ form.text }}

                    <br>
                        <button type="submit"
                                class="u-active-white u-border-2 u-border-black u-border-hover-white u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-1"
                        >Добавить предложение
                    </button>
                        {% if no_sents %}
                            <h4 class="u-form-send-error">Когда вы написали предложение, пожалуйста, нажмите на кнопку
                                "Добавить предложение"</h4>
                        {% endif %}


                    </form>



                    <div class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px;">
                        <ol>
                            {% for id, name, in_task in students %}
                                <li style="font-size: large" class="form-check">

                                    <input class="form-check-input" type="checkbox" value="" id="{{ id }}"
                                           name="student"
                                           {% if in_task %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ id }}">
                                        {{ name }}
                                    </label>
                                    <a href="{% url 'add_student_to_task' id %}" id="{{ id }}-href-add"
                                       hidden="hidden"></a>
                                    <a href="{% url 'remove_student_to_task' id %}" id="{{ id }}-href-remove"
                                       hidden="hidden"></a>
                                </li>

                            {% endfor %}
                        </ol>
                        {% if no_students %}
                            <h4 class="u-form-send-error">Пожалуйста, добавьте учеников, нажав на квадратик слева.</h4>
                        {% endif %}
                        <div class="u-form-date u-form-group u-form-group-2">
                            <label for="date-expired" class="u-label">Срок сдачи задания</label>
                            <input type="date" placeholder="ММ/ДД/ГГГГ" id="date-expired" value="{{ date }}"
                                   name="date-expired"
                                   class="u-input u-input-rectangle" required="" data-date-format="mm/dd/yyyy">
                            <a id="date-href" href="{% url 'change_date_task' %}" hidden=""></a>
                        </div>
                        <div class="u-form-checkbox u-form-group u-form-group-3">
                            <input type="checkbox" id="date-unlimited" class="u-field-input"
                                   {% if date_inf %}checked{% endif %}>
                            <label for="checkbox-30d0" class="u-field-label">Бессрочная</label>
                        </div>

                        <div class="u-form-checkbox u-form-group u-form-group-4">
                            <input type="checkbox" id="check-phrases" name="checkbox" class="u-field-input"
                                   {% if check_phrases %}checked{% endif %}>
                            <label for="check-phrases" class="u-field-label">Проверка словосочетаний (будьте аккуратны,
                                нейронная сеть их плохо определяет)</label>
                            <a id="check-phrases-href" href="{% url 'change_phrases' %}" hidden="hidden"></a>
                        </div>
                        <div class="u-form-checkbox u-form-group u-form-group-4">
                            <input type="checkbox" id="remove_punctuation" name="checkbox" class="u-field-input"
                                   {% if remove_punctuation %}checked{% endif %}>
                            <label for="check-phrases" class="u-field-label">Удалить знаки препинания?</label>
                            <a id="remove_punctuation-href" href="{% url 'change_remove_punctuation' %}"
                               hidden="hidden"></a>
                        </div>

                        <div class="u-align-left u-form-group u-form-submit">
                            <a href="{% url 'apply_task' %}"
                               class="u-active-black u-border-2 u-border-grey-75 u-border-hover-white u-btn u-button-style u-hover-black u-text-hover-white u-white u-btn-1">Отправить
                                задание </a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>

                    </div>
                </div>
            </div>
        </section>
    {% else %}
            <br>
            <h3 class="u-custom-font u-font-georgia u-text u-text-default u-text-4">Для редактирования предложения
                необходимо авторизоваться</h3>
        {% endif %}

{% endblock %}