{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'task/css/task_on_students.css' %}" media="screen"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-267f">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h3 class="u-align-center u-custom-font u-text u-text-default u-text-font u-text-1">
                Предложение(я): {{ task|slice:":50" }} </h3>
        </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-65c7">
        <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
            <div class="u-accordion u-expanded-width u-accordion-1">
                {% for st in students %}
                    <div class="u-accordion-item">
                        <a class="active u-accordion-link u-button-style u-text-body-color u-accordion-link-1"
                           id="link-1e82" aria-controls="1e82" aria-selected="true">
                            <span class="u-accordion-link-text">{{ st.name }} - всего ошибок: {{ st.all_errors }}. Решено в {{ st.date }}</span><span
                                class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link"
                                                                                                  preserveAspectRatio="xMidYMin slice"
                                                                                                  viewBox="0 0 16 16"
                                                                                                  style=""><use
                                xlink:href="#svg-2821"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16"
                                                                        x="0px" y="0px" id="svg-2821"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
                        </a>
                        <div class="u-accordion-active u-accordion-pane u-container-style u-accordion-pane-1" id="1e82"
                             aria-labelledby="link-1e82">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <div class="u-border-1 u-border-grey-75 u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-1">
                                    <div class="u-container-layout u-container-layout-2">
                                        <ul class="u-text u-text-default u-text-font u-text-1">
                                            {% for e in st.errors %}
                                                <li>{{ e }}</li>
                                            {% endfor %}
                                            {% for e, c in st.cnt_errors %}
                                                <li>{{ e }}: {{ c }}</li>
                                            {% endfor %}
                                        </ul>

                                        <a href="{% url 'watch_sentence' task.id st.id %}"
                                           class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">Просмотреть
                                            задание </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                Пока не выполнили:
                <ol>
                    {% for st in students_to %}
                        <li class="u-accordion-link-text">{{ st }} </li>

                    {% endfor %}
                </ol>

            </div>
        </div>
    </section>

{% endblock %}