{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-3">
                <h3 class="u-custom-font u-font-georgia u-text u-text-custom-color-1 u-text-default u-text-4">Популярные запросы</h3>
                <ul class="u-custom-font u-font-georgia u-text u-text-5">
                  {% for s in sentences %}

                  <li>
                  <a href="{% url 'sentence' pk=s.id %}">
                      <span style="font-size: 1.25rem;">{{ s|capfirst }} </span>
                      <div align="right"><i style="color: #3a7370; text-align: right">Спросили: {{s.count }} р.</i></div>
                  </a>
                  </li>

                  {% endfor %}
                </ul>
              </div>
            </div>
<div class="u-container-style u-layout-cell u-size-28 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-4">
                <h3 class="u-custom-font u-font-georgia u-text u-text-custom-color-1 u-text-6">Разобрать предложение</h3>
                <div class="u-expanded-width u-form u-form-2">
                  <form action="/check_sentence/" method="POST">
                    {% csrf_token %}
                    {{ sentence_form }}
                    <br>
                    <div class="u-align-right u-form-group u-form-submit u-label-none">
                      <input type="submit" value="Разобрать предложение" class="btn btn-primary">

                    </div>
                  </form>
                </div>
              </div>
</div>

{%endblock%}