{% extends "base.html" %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'base/css/index.css' %}" media="screen">
{% endblock %}
{% block content%}
    <section class="u-clearfix u-valign-middle-lg u-section-2" id="sec-2982">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h5 class="u-text u-text-default u-text-1">Реклама </h5>
              </div>
            </div>
                    <div class="u-container-layout u-container-layout-2">


                        <form action="{% url 'check_sentence' %}" method="POST"
                              class="u-container-layout u-container-layout-2">
                    {% csrf_token %}
                            <div class="custom-expanded u-clearfix u-custom-html u-expanded-width-xl u-custom-html-1">
                                {{ sentence_form }}
                    </div>

                            <button type="submit"
                                    class="u-active-white u-border-2 u-border-black u-border-hover-white u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-1"
                                    style="width: 20%">Разобрать
                            </button>
                        </form>
                    </div>

                    <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-3">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                            <h5 class="u-text u-text-default u-text-2">Реклама </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{%endblock%}
